<div class="a"><div class="b"></div><div class="c"></div></div>

<style>
  body{
    background: #62306D
  }
  .a{
    height: 100px;
    width: 100px;
    background: #F7EC7D;
    position: absolute;
    bottom: 150px;
    left: 150px;
    border-radius: 50px 50px 0px 0px;
  }
  .b{
    height: 100%;
    width: 100%;
    background: #F7EC7D;
    border-radius: 0px 0px 50px 50px;
    position: relative;
    bottom: -100;
    left: -100;
  }
  .c{
    height: 100%;
    width: 100%;
    background: #F7EC7D;
    border-radius: 0px 0px 50px 50px;
    position: absolute;
    bottom: -100;
    right: -100;
  }
</style>
